.mt-11 {
  margin-top: 0.69rem;
}
.mt-7 {
  margin-top: 0.44rem;
}
.mt-13 {
  margin-top: 0.81rem;
}
.ml-155 {
  margin-left: 9.69rem;
}
.mt-202 {
  margin-top: 12.63rem;
}
.mt-19 {
  margin-top: 1.19rem;
}
.page {
  padding: 8.25rem 0 3.5rem;
  background-color: #000000;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.section_2 {
  margin-left: 2.25rem;
  padding: 1.38rem 0 3.5rem 2.13rem;
  background-color: #00152866;
  box-shadow: 0rem 0rem 2.13rem #276288bd inset;
  width: 29.88rem;
  border-left: solid 0.13rem #004e66;
  border-right: solid 0.13rem #004e66;
  border-top: solid 0.13rem #004e66;
  border-bottom: solid 0.13rem #004e66;
}
.group_2 {
  padding: 0 1rem;
}
.image_3 {
  width: 8.56rem;
  height: 2.06rem;
}
.group_5 {
  padding: 8.38rem 0 10.81rem;
}
.section_5 {
  margin-right: 0.75rem;
  background-color: #00000000;
  height: 2.13rem;
}
.image_4 {
  width: 25.06rem;
  height: 21.31rem;
}
.pos_4 {
  position: absolute;
  left: 0.25rem;
  right: 0.38rem;
  bottom: 0;
}
.image_5 {
  margin-left: 1.13rem;
}
.group_7 {
  margin-top: 0.94rem;
}
.image_7 {
  width: 27.5rem;
  height: 3.88rem;
}
.image_9 {
  margin-right: 0.25rem;
}
.section_7 {
  margin: 0 1rem;
  background-color: #00000000;
  height: 3.5rem;
}
.pos_8 {
  position: absolute;
  left: 0;
  right: 0.2rem;
  top: 0;
  bottom: 0;
}
.image_11 {
  margin-right: 0.25rem;
}
.image_13 {
  margin-right: 0.25rem;
}
.image_14 {
  margin-right: 0.25rem;
}
.image_15 {
  margin-right: 0.25rem;
}
.image_16 {
  margin-right: 0.25rem;
}
.group_8 {
  margin-top: 1.63rem;
  padding-left: 1.13rem;
  padding-right: 0.88rem;
}
.image-wrapper {
  padding-top: 1.5rem;
  background-color: #00000000;
  height: 3.5rem;
}
.image_18 {
  width: 24.06rem;
  height: 5.94rem;
}
.image_19 {
  margin-left: 0.19rem;
  margin-right: 1.44rem;
}
.image_20 {
  margin-left: 0.25rem;
  margin-right: 1.38rem;
}
.group {
  padding: 0.25rem 2.13rem 0 29.06rem;
}
.pos {
  position: absolute;
  left: 3.69rem;
  right: 0;
  top: 1.06rem;
}
.image_2 {
  opacity: 0.9;
  width: 62.5rem;
  height: 49.69rem;
}
.section {
  margin-top: 6.38rem;
  padding: 2.13rem 0.25rem 1.5rem 0.5rem;
  background-color: #00152866;
  box-shadow: 0rem 0rem 2.13rem #276288bd inset;
  width: 30rem;
  height: 84.81rem;
  border-left: solid 0.13rem #004e66;
  border-right: solid 0.13rem #004e66;
  border-top: solid 0.13rem #004e66;
  border-bottom: solid 0.13rem #004e66;
}
.group_3 {
  padding: 0 0.75rem;
}
.group_4 {
  padding: 9rem 0 8.63rem;
}
.section_6 {
  background-color: #00000000;
  width: 24.94rem;
  height: 2.13rem;
}
.section_3 {
  padding: 5.88rem 3.13rem 11.13rem;
  background-image: url('https://ide.code.fun/api/image?token=699fadba9a40b800116ebcbf&name=bef4cc15552601df5410eeccb66c5385.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos_3 {
  position: absolute;
  left: 0;
  right: 1.14rem;
  top: 0;
}
.group_6 {
  margin-left: 3.88rem;
}
.font {
  font-size: 1.36rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.97rem;
  color: #66ffff;
}
.text {
  margin-top: 0.38rem;
  color: #66ffff;
  font-size: 1.75rem;
  font-family: AlibabaPuHuiTi;
  line-height: 1.25rem;
}
.image_10 {
  width: 27.5rem;
  height: 3.13rem;
}
.image {
  width: 93.75vw;
  height: 4.7852vw;
}
.pos_2 {
  position: absolute;
  left: 0;
  right: 4.31rem;
  top: 0;
}
.image_6 {
  width: 24.5rem;
  height: 5.44rem;
}
.pos_6 {
  position: absolute;
  right: 0;
  top: 36.19rem;
}
.image_8 {
  width: 24.94rem;
  height: 2.13rem;
}
.pos_7 {
  position: absolute;
  right: 5.56rem;
  top: 38.56rem;
}
.section_4 {
  padding: 38.88rem 2.19rem 3.88rem;
  background-image: url('https://ide.code.fun/api/image?token=699fadba9a40b800116ebcbf&name=037f32e2452397ff9a01943db6fc3c3e.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 58rem;
}
.pos_5 {
  position: absolute;
  left: 30.81rem;
  top: 11.31rem;
}
.text_2 {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: SourceHanSansCN;
  font-weight: 800;
  line-height: 1.45rem;
}
.image_12 {
  width: 25.06rem;
  height: 6.63rem;
}
.pos_9 {
  position: absolute;
  right: 21.81rem;
  bottom: 31.75rem;
}
.image_17 {
  width: 59.56rem;
  height: 23.81rem;
}
.pos_10 {
  position: absolute;
  right: 31.81rem;
  bottom: 4.63rem;
}