.mt-1 {
  margin-top: 0.063rem;
}
.mt-25 {
  margin-top: 1.56rem;
}
.ml-9 {
  margin-left: 0.56rem;
}
.mt-9 {
  margin-top: 0.56rem;
}
.mt-45 {
  margin-top: 2.81rem;
}
.page {
  padding: 0 0.44rem;
  background-color: #000000;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.section_2 {
  padding: 0.25rem 0 1.13rem 0.31rem;
  background-color: #00152866;
  width: 14.06rem;
  height: 41.63rem;
  border-left: solid 0.063rem #004e66;
  border-right: solid 0.063rem #004e66;
  border-top: solid 0.063rem #004e66;
  border-bottom: solid 0.063rem #004e66;
}
.group_3 {
  padding: 0 0.44rem;
}
.image {
  width: 4.31rem;
  height: 1.06rem;
}
.image_2 {
  width: 12.56rem;
  height: 10.69rem;
}
.image_3 {
  width: 4.31rem;
  height: 1rem;
}
.image_5 {
  width: 13.75rem;
  height: 1.94rem;
}
.group_10 {
  padding: 0 0.5rem;
}
.section_15 {
  background-color: #00000000;
  height: 1.75rem;
}
.image_9 {
  margin-right: 0.81rem;
  width: 12.06rem;
  height: 2.94rem;
}
.group {
  margin-top: -3.63rem;
  width: 29.75rem;
}
.group_2 {
  padding: 5.88rem 0.75rem 8rem 0.88rem;
  height: 28.84rem;
}
.section_4 {
  padding: 1.38rem 0.63rem;
  background-image: url('https://ide.code.fun/api/image?token=69a14e2d9a40b800116ee2b0&name=9e3ff5615c452143f51364754a05e470.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.38rem;
}
.pos_2 {
  position: absolute;
  right: 0.72rem;
  top: 5.9rem;
}
.font {
  font-size: 0.56rem;
  font-family: SourceHanSansCN;
  line-height: 0.49rem;
  font-weight: 700;
  color: #ffffff;
}
.text {
  font-size: 0.55rem;
  line-height: 0.52rem;
}
.font_2 {
  font-size: 0.56rem;
  font-family: SourceHanSansCN;
  line-height: 0.43rem;
  color: #ffffff;
}
.text_3 {
  opacity: 0.8;
}
.section_13 {
  padding: 1.5rem 0;
  background-image: url('https://ide.code.fun/api/image?token=69a14e2d9a40b800116ee2b0&name=3566c6543b419b0356fed3555eeb5f25.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.38rem;
}
.pos_11 {
  position: absolute;
  right: 0.72rem;
  top: 16.62rem;
}
.text_19 {
  font-size: 0.55rem;
  line-height: 0.52rem;
}
.text_21 {
  line-height: 0.42rem;
}
.section_9 {
  padding: 1.63rem 0 1.25rem;
  background-image: url('https://ide.code.fun/api/image?token=69a14e2d9a40b800116ee2b0&name=f6faa6799028c486688ff7bd5c205e71.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.38rem;
}
.pos_8 {
  position: absolute;
  right: 0.72rem;
  top: 11.27rem;
}
.text_10 {
  font-size: 0.55rem;
  line-height: 0.52rem;
}
.text_14 {
  line-height: 0.41rem;
}
.section_5 {
  padding: 1.38rem 0;
  background-image: url('https://ide.code.fun/api/image?token=69a14e2d9a40b800116ee2b0&name=ea0103272c6398ac646105e22b6ce17d.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.38rem;
}
.pos_3 {
  position: absolute;
  left: 0.89rem;
  top: 6.03rem;
}
.text_2 {
  font-size: 0.55rem;
  line-height: 0.52rem;
}
.section_14 {
  padding: 1.5rem 0 1.38rem;
  background-image: url('https://ide.code.fun/api/image?token=69a14e2d9a40b800116ee2b0&name=ea0103272c6398ac646105e22b6ce17d.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.38rem;
}
.pos_12 {
  position: absolute;
  left: 0.89rem;
  top: 16.75rem;
}
.text_20 {
  font-size: 0.55rem;
  line-height: 0.52rem;
}
.section_10 {
  padding: 1.63rem 0 1.25rem;
  background-image: url('https://ide.code.fun/api/image?token=69a14e2d9a40b800116ee2b0&name=daaf9c2aea4a5971205baa99381d61c7.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos_9 {
  position: absolute;
  left: 0.89rem;
  top: 11.41rem;
}
.text_11 {
  font-size: 0.55rem;
  line-height: 0.52rem;
}
.section {
  padding: 11.25rem 0 12.38rem;
  background-image: url('https://ide.code.fun/api/image?token=69a14e2d9a40b800116ee2b0&name=e1ad20cd84cc67256ed3632926394d15.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 28.63rem;
}
.pos {
  position: absolute;
  left: 1.1rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.section_8 {
  padding: 1.5rem 0 1.88rem;
  background-image: url('https://ide.code.fun/api/image?token=69a14e2d9a40b800116ee2b0&name=4bcc4e7819257d2502df843b4e7fd633.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 5rem;
}
.text_9 {
  color: #66ffff;
  font-size: 1.4rem;
  font-family: SourceHanSansCN;
  font-weight: 800;
  line-height: 1.08rem;
}
.font_3 {
  font-size: 0.41rem;
  font-family: SourceHanSansCN;
  line-height: 0.43rem;
  color: #ffffff;
}
.text_15 {
  font-size: 0.44rem;
  font-weight: 700;
  line-height: 0.42rem;
}
.text_22 {
  color: #ffffff;
  font-size: 0.75rem;
  font-family: SourceHanSansCN;
  font-weight: 800;
  line-height: 0.72rem;
}
.pos_13 {
  position: absolute;
  left: 0.16rem;
  bottom: 2.63rem;
}
.image_7 {
  width: 12.56rem;
  height: 3.31rem;
}
.pos_14 {
  position: absolute;
  left: 4.61rem;
  bottom: 0;
}
.pos_15 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.image_8 {
  width: 29.75rem;
  height: 9.38rem;
}
.section_3 {
  padding: 1.5rem 0 1.13rem 0.5rem;
  background-color: #00152866;
  height: 42.41rem;
  border-left: solid 0.063rem #004e66;
  border-right: solid 0.063rem #004e66;
  border-top: solid 0.063rem #004e66;
  border-bottom: solid 0.063rem #004e66;
}
.group_4 {
  padding: 0 0.31rem;
}
.group_5 {
  width: 6.53rem;
}
.group_6 {
  padding-top: 5.63rem;
}
.section_11 {
  padding: 1.13rem 0 0.63rem 0.25rem;
  background-image: linear-gradient(180deg, #1083be99 1.9%, #0f7fb499 100%);
  border-radius: 0.16rem;
  border-image-slice: 1;
  width: 6.05rem;
  border-left: solid 0.1rem #477ec300;
  border-right: solid 0.1rem #477ec300;
  border-top: solid 0.1rem #477ec300;
  border-bottom: solid 0.1rem #477ec300;
}
.text_12 {
  line-height: 0.45rem;
}
.font_5 {
  font-size: 0.41rem;
  font-family: SourceHanSansCN;
  line-height: 0.27rem;
  font-weight: 700;
  color: #66ffff;
}
.text_16 {
  font-size: 0.36rem;
}
.font_4 {
  font-size: 0.68rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.49rem;
  color: #66ffff;
}
.text_18 {
  font-size: 0.36rem;
}
.image_4 {
  border-radius: 50%;
  width: 1.49rem;
  height: 1.49rem;
}
.pos_7 {
  position: absolute;
  right: 0;
  bottom: 3.63rem;
}
.section_6 {
  padding: 1.13rem 0 0.75rem 0.25rem;
  background-image: linear-gradient(180deg, #1083be99 1.9%, #0f7fb499 100%);
  border-radius: 0.16rem;
  border-image-slice: 1;
  width: 6.05rem;
  border-left: solid 0.1rem #477ec300;
  border-right: solid 0.1rem #477ec300;
  border-top: solid 0.1rem #477ec300;
  border-bottom: solid 0.1rem #477ec300;
}
.pos_6 {
  position: absolute;
  left: 0;
  top: 0.97rem;
}
.text_4 {
  line-height: 0.38rem;
}
.text_6 {
  font-size: 0.36rem;
}
.text_8 {
  font-size: 0.36rem;
}
.pos_4 {
  position: absolute;
  right: 0;
  top: 0;
}
.group_7 {
  width: 6.71rem;
}
.group_8 {
  padding-top: 1rem;
}
.section_7 {
  padding: 1.13rem 0.25rem 1.38rem;
  background-image: linear-gradient(180deg, #1083be99 1.9%, #0f7fb499 100%);
  border-radius: 0.16rem;
  border-image-slice: 1;
  width: 6.05rem;
  border-left: solid 0.1rem #477ec300;
  border-right: solid 0.1rem #477ec300;
  border-top: solid 0.1rem #477ec300;
  border-bottom: solid 0.1rem #477ec300;
}
.text_5 {
  line-height: 0.38rem;
}
.font_6 {
  font-size: 0.88rem;
  font-family: AlibabaPuHuiTi;
  line-height: 0.63rem;
  color: #66ffff;
}
.text_7 {
  margin-right: 0.63rem;
  line-height: 0.63rem;
}
.pos_5 {
  position: absolute;
  right: 0;
  top: 0;
}
.group_9 {
  padding-top: 0.5rem;
}
.section_12 {
  padding: 1.13rem 0.25rem;
  background-image: linear-gradient(180deg, #1083be99 1.9%, #0f7fb499 100%);
  border-radius: 0.16rem;
  border-image-slice: 1;
  width: 6.05rem;
  border-left: solid 0.1rem #477ec300;
  border-right: solid 0.1rem #477ec300;
  border-top: solid 0.1rem #477ec300;
  border-bottom: solid 0.1rem #477ec300;
}
.text_13 {
  line-height: 0.45rem;
}
.text_17 {
  margin-right: 0.5rem;
}
.pos_10 {
  position: absolute;
  right: 0.13rem;
  top: 0;
}
.image_6 {
  margin-right: 0.13rem;
  width: 13.75rem;
  height: 25.97rem;
}